<!DOCTYPE HTML>

<html>
  <head>
    <title>Resource Wall</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="vendor/phantom/css/main.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <noscript><link rel="stylesheet" href="vendor/phantom/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  </head>
  <body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      <header id="header">
        <div class="inner">

          <!-- Logo -->
          <a href="/" class="logo">
            <span class="symbol"><img src="images/bookmark.png" alt="" /></span><span class="title">Resource Wall</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>

        </div>
      </header>

      <!-- Menu -->

      <nav id="menu">
        <h2>Menu</h2>
          <ul>
            <li><a href="/" data-navigo>Home</a></li>
            <li><a href="/login" data-navigo>Login</a></li>
            <li><a href="/register" data-navigo>Register</a></li>
            <li><a href="/myBoards" data-navigo>My Boards</a></li>
            <li><a href="/likedResources" data-navigo>Liked Resources</a></li>
            <li><a href="/profile" data-navigo>Edit Profile</a></li>
            <li><a href="/logout" data-navigo>Logout</a></li>
          </ul>
        </nav>

        <!-- Main -->
        <div id="main"></div>
        <div id="modal-container" class="modal"></div>

        <!-- Footer -->
        <footer id="footer">
          <div class="inner">
            <section>
              <h2>Links</h2>
              <ul class="icons">
                <li><a href="https://github.com/npwxx/resourceWall" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
              </ul>
            </section>
            <ul class="copyright">
              <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              <li>Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
            </ul>
          </div>
        </footer>

    </div>

    <!-- Vendor Scripts -->
      <script src="vendor/jquery-3.5.1.js"></script>
      <script src="/path/to/js.cookie.js"></script>
      <script src="vendor/phantom/js/browser.min.js"></script>
      <script src="vendor/phantom/js/breakpoints.min.js"></script>
      <script src="vendor/phantom/js/util.js"></script>
      <script src="vendor/phantom/js/main.js"></script>
      <script src="//unpkg.com/navigo@6"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
      <script src="vendor/rater.js/rater.js"></script>

    <!-- Our Scripts -->
      <script src="scripts/boards.js"></script>
      <script src="scripts/clientRouter.js"></script>
      <script src="scripts/authentication.js"></script>
      <script src="scripts/myBoards.js"></script>
      <script src="scripts/util-functions.js"></script>
      <script src="scripts/main.js"></script>
  </body>
</html>
